.form {
    width: min(640px, 90vw);
    background-color: whitesmoke;
    box-sizing: border-box;
    text-align: left;
}

#reservation-form {
    display: grid;
    grid-template-areas:
        "c c"
        "a b"
        "d d"
        "e e";
    grid-gap: 0 12px;
}

#reservation-form input {
    border-width: 0 0 1px 0;
    padding: 6px 0 6px 9px;
    font-size: 12px;
    background-color: rgb(234, 234, 234);
}

#verification-form {
    display: grid;
    place-items: center;
    text-align: left;
}

.verification-code-input {
    padding: 0 0 6px 0;
}

.form-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid gray;
}

.form > #verification-note {
    font-size: 11px;
    color: rgb(51, 51, 51);
}

#reservation-form > div {
    width: calc(100% - 9px);
    margin-top: 3px;
}

#verification-form > div {
    width: 100%;
}

.styles_react-code-input__CRulA > input {
    background-color: rgb(234, 234, 234);
}

#reservation-form > #form-submit {
    width: 100%;
    margin-top: 6px;
    grid-area: e;
}

#first-name {
    grid-area: a;
}

#last-name {
    grid-area: b;
}

#email {
    grid-area: c;
}

#wxid {
    grid-area: d;
}

input {
    width: 100%;
    padding: 5px;
    height: 14px;
    margin: 3px 0;
}

.submit-button {
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    background-color: rgb(63, 63, 63);
    color: white;
    font-size: 11px;
}

h2 {
    margin: 0 0 9px 0;
    font-size: 18px;
}

p {
    margin: 3px 0 0 0;
}

.highlight-error {
    border: 2px solid lightcoral;
}

label {
    font-size: 14px;
}

#success-message {
    font-size: 14px;
    margin-bottom: 9px;
}

#success-bottom-message {
    font-size: 14px;
}

#success-bottom-message > span {
    font-weight: 700;
}