.header {
    padding: 0 20px;
    box-sizing: border-box;
    text-align: left;
    width: max(500px, 50vw);
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    grid-template-rows: 100%;
}

.header-wrapper {
    width: 100%;
    display: flex;
    border-bottom: 1px solid gray;
}

.header > div > h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    margin: 0;
}
