.header {
    padding: 0 20px;
    box-sizing: border-box;
    text-align: left;
    width: max(500px, 50vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    grid-template-rows: 100%;
}

.header-wrapper {
    width: 100%;
    display: grid;
    place-items: center;
    border-bottom: 1px solid gray;
}

h1 {
    margin: 5px 0;
}
